.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
}

.Navbar {
  background-color: #4B6F44 ;
  height: 85px;
  outline: solid 2px #164716;
  padding: 0 30px;
  line-height: 70px;
  border-radius: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  width: 60%;
  margin: 40px auto
}

.Navbar * {
  margin: 0;
  padding: 0;
  user-select: none;
}

.Navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.Navbar a {
  color: white;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.Navbar a:hover {
  background-color: #223a1f;
  transform: scale(1.1) ;
}

.Home {
  background-color: white;
  height: calc(100vh - 80px);
}

.Home h1 {
  margin: 0;
  color: #4B6F44;
  text-align: center;
}

.Home p {
  color: #4B6F44;
}

.Minigames {
  background-color: white;
  height: calc(100vh - 80px);
}

.Minigames h1 {
  margin: 0;
  color: #4B6F44;
}

.Minigames p {
  color: #4B6F44;
}

.Settings {
  background-color: white;
  height: calc(100vh - 80px);
}

.Settings h1 {
  margin: 0;
  color: #4B6F44;
}

.Settings p {
  color: #4B6F44;
}

.Login {
  background-color: white;
  height: calc(100vh - 80px);
}

.Login h1 {
  margin: 0;
  color: #4B6F44;
}

.Login p {
  color: #4B6F44;
}

.LoadingScreen {
  background-color: white;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingScreen h2 {
  margin: 0;
  color: #4B6F44;
}

.logout-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #f80a0a;
  transform: scale(1.2);
}



