.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
}

.Navbar {
  background-color: #4B6F44 ;
  height: 85px;
  outline: solid 2px #164716;
  padding: 0 30px;
  line-height: 70px;
  border-radius: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  width: 60%;
  margin: 40px auto
}

.Navbar * {
  margin: 0;
  padding: 0;
  user-select: none;
}

.Navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.Navbar a {
  color: white;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.Navbar a:hover {
  background-color: #223a1f;
  transform: scale(1.1) ;
}

.Home {
  background-color: white;
  height: calc(100vh - 80px);
}

.Home h1 {
  margin: 0;
  color: #4B6F44;
  text-align: center;
}

.Home p {
  color: #4B6F44;
}

.Minigames {
  background-color: white;
  height: calc(100vh - 80px);
}

.Minigames h1 {
  margin: 0;
  color: #4B6F44;
}

.Minigames p {
  color: #4B6F44;
}

.Settings {
  background-color: white;
  height: calc(100vh - 80px);
}

.Settings h1 {
  margin: 0;
  color: #4B6F44;
}

.Settings p {
  color: #4B6F44;
}

.Login {
  background-color: white;
  height: calc(100vh - 80px);
}

.Login h1 {
  margin: 0;
  color: #4B6F44;
}

.Login p {
  color: #4B6F44;
}

.LoadingScreen {
  background-color: white;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingScreen h2 {
  margin: 0;
  color: #4B6F44;
}

.Minigames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  text-align: center;
}

.artistList {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 80%;
}

.leftColumn, .rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Minigames li {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
  width: 200px;
}

.number {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.artistPill {
  flex-grow: 1;
  width: 200px;
  text-align: center;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.artistPill.hidden {
  background-color: black;
  color: black;
  pointer-events: none;
  border: 2px solid black;
}

.artistPill.shown {
  background-color: white;
  color: black;
  border: 2px solid #2e8b57;
  animation: fadeIn 0.5s ease-in-out;
}

.artistPill.shown:hover {
  background-color: #2e8b57;
  color: white;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.inputField:focus {
  outline: none;
  border-color: #006400;
}

.guessButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.guessButton:hover {
  background-color: #006400;
}

.guessSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative; /* Add this to allow absolute positioning of suggestions */
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2e8b57;
  border-radius: 5px;
  width: 200px;
  transition: border 0.3s ease-in-out;
}

.suggestionsList {
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
  width: 200px; /* Same as input width */
  position: absolute; /* Position it below the input */
  top: 100%; /* Align it below the input */
  left: 0;
  z-index: 10; /* Ensure it's above other content */
  border: 1px solid #2e8b57;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Limit height */
  overflow-y: auto; /* Enable scrolling */
}
  
.logout-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #f80a0a;
  transform: scale(1.2);
}

.suggestionItem {
  padding: 8px 10px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 16px;
}

.suggestionItem:hover {
  background-color: #2e8b57;
  color: white;
}

.suggestionItem:active {
  background-color: #006400;
  color: white;
}